<div class="reveal">
    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
        <section>
            <h1>IPM Vortrag</h1>
            <h3>BA Planung</h3>
            <p>
                <small>
                    <a href="http://kwoh.de">Jan Hartmann</a> / 11083800
                </small>
            </p>
        </section>
        <section data-markdown>
            <script type="text/template">
                ## Übersicht
                <ol>
                    <li>Problemstellung</li>
                    <li>Die Idee
<ul>
                    <li>Techniken
                        <ul>
                            <li>Xmpp: pubsub</li>
                            <li>BitTorrent</li>
                        </ul>
                    </li>
                    </ul></li>
                    <li>Klassendiagramm</li>
                    <li>Meilensteine</li>
                    <li></li>
                </ol>
            </script>
        </section>
        {% include 'slides/motivation.html' %}
        {% include 'slides/idea.html' %}

        {% include 'slides/classdiagrams.html' %}

        {% include 'slides/time.html' %}
    </div>
</div>
